<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eg.com.cat.Specimenator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Launcher"
        tools:replace="android:icon">
        <activity
            android:name="eg.com.cat.Specimenator.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eg.com.cat.Specimenator.MainActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".fragments.specimen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Preparation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Fixation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".fragments.Grossing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Duration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Storage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Coverslipping"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.BottomSheet"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragments.Processing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Microtomy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Handling"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>